[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
requests = "*"
nltk = "*"

[dev-packages]
ipdb = "*"
pandas = "*"
pytest = "*"
matplotlib = "*"
wordcloud = "*"

[requires]
python_version = "3.8"
